<div class="columns">
  <div class="column is-one-third is-offset-one-third">
    <%= link_to '回商品列表', products_path, class: 'button is-warning' %>
    <%= form_for @product, :url => @product.new_record? ? products_path : product_path(@product), :html => { :id => 'new_product_form', :multipart => true } do |f| %>
      <h2 class="text-center">
        <%= action %>商品
      </h2>
    <% if @product.errors.any? %>
      <article id="error" class="message is-danger">
        <div class="message-header">
          請修正這些欄位
        </div>
        <div class="message-body content">
          <ul>
          <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </article>
    <% end %>
      <%= f.label :name, '名稱', class: 'label' %>
      <p class="control">
        <%= f.text_field :name, class: 'input' %>
      </p>
      <%= f.label :price, '價格', class: 'label' %>
      <p class="control">
        <%= f.text_field :price, class: 'input' %>
      </p>
      <%= f.label :description, '介紹', class: 'label' %>
      <p class="control">
        <%= f.text_area :description, class: 'textarea' %>
      </p>
      <p>
        <%= f.submit action, class: 'button is-success' %>
      </p>
    <% end %>
  </div>
</div>