<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <%= form_for @product, :url => @product.new_record? ? products_path : product_path(@product), :html => { :id => 'new_product_form', :multipart => true } do |f| %>
      <%= link_to '回商品列表', products_path, :class => 'expanded' %>
      <h4 class="text-center">
        <%= action %>商品
      </h4>
      <div>
        <%= f.label :name, '名稱' %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :price, '價格' %>
        <%= f.text_field :price %>
      </div>
      <div>
        <%= f.label :description, '介紹' %>
        <%= f.text_area :description %>
      </div>
      <p>
        <%= f.submit action, :class => 'button expanded form_button' %>
      </p>
      <% if @product.errors.any? %>
        <div id="error">
          <h4>
            <%= pluralize(@product.errors.count, 'error') %>
            prohibited this product from being saved:
          </h4>
          <ul>
            <% @product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>