<table>
  <thead>
    <tr>
      <th></th>
      <th>名稱</th>
      <th>價格</th>
      <th>介紹</th>
      <th>優惠</th>
    </tr>
  </thead>
  <tbody>
  <% products.each do |product| %>
    <tr>
      <td>
      <% if product.is_on_shelf? %>
        <%= link_to '下架', product_path(product),
                           method: :delete,
                           data: { confirm: '確定下架？' } %>
      <% else %>
        <%= link_to '上架', on_shelf_product_path(product),
                           method: :put,
                           data: { confirm: '確定上架？' } %>
      <% end %>
        <%= link_to edit_product_path(product) do %>
          編輯
        <% end %>
      </td>
      <td>
        <%= product.name %>
      </td>
      <td>
        <%= product.price %>
      </td>
      <td>
        <%= product.description %>
      </td>
      <td>
      <% if product.current_promotion %>
        <p>
          買 <%= product.current_promotion.amount %> 件以上每件可折扣 <%= product.current_promotion.discount %> 元
        </p>
      <% end %>
        <%= link_to '調整優惠', new_product_promotion_path(product) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>